# Local directory to download data to.
# Lambda provides ephemeral storage for functions in the /tmp directory,
# but we don't want to use /tmp for local development and testing.
LOCAL_DATA_DIRPATH="data/"

# The region and names of the S3 buckets where raw and processed data will be stored.
AWS_REGION=
AWS_S3_RAW_DATA_BUCKET=
AWS_S3_PROCESSED_DATA_BUCKET=

# These AWS credentials must correspond to an IAM user with:
# - read/write access to the S3 bucket above
# - access to push images to the ECR repository
# - access to update the Lambda function code
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# This is the Slack webhook URL for the channel to send messages to on workflow completion.
# See: https://docs.slack.dev/messaging/sending-messages-using-incoming-webhooks/.
SLACK_WEBHOOK_URL=